# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Vivado build dirs
*.runs/
*.sim/
*.cache/
*.hw/
*.ip_user_files/build/     # generated HDL for IP
*.log
*.jou                       # Vivado journal files
*.str                       # state reports / checkpoints
*.ltx                       # latency reports
*.webtalk                   # telemetry

# SDK / Vitis (if you use them)
.sdk/
.vitis/

# OS / Editor cruft
*~ 
*.swp
.DS_Store